<template>
    <template if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..." class="fixed_spinner">
                </lightning-spinner>
            </div>
        </div>
    </template>
    <div
        class="ok_ban-right--section neighbor_connection slds-m-top_x-large slds-m-right--x-large slds-m-bottom--xx-large">
        <div class="form--header">
            <div class="form--header_heading">
                <h4 class="slds-text-title_bold slds-text-title_caps">Send Email</h4>
            </div>
        </div>
        <div class="form--body">
            <div class="slds-grid slds-gutters slds-wrap">
                <div class="slds-col slds-size_full slds-m-bottom--large">
                    <p>Whom do you want to send this email?</p>
                    <lightning-input onchange={handleChange} type="checkbox" name="volunteer" label="Volunteer">
                    </lightning-input>
                    <lightning-input onchange={handleChange} type="checkbox" name="participants" label="Participants">
                    </lightning-input>
                </div>

                <div class="slds-col slds-size--9-of-12 slds-m-bottom--large">
                    <lightning-input type="text" name="emailSubject" placeholder="Enter Subject" label="Subject"
                        required value={data.emailSubject} onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-col slds-size--9-of-12 slds-m-bottom--large">
                    <p>Content</p>
                    <lightning-input-rich-text formats={formats} name="emailBody" value={data.emailBody}
                        onblur={handleChange}>
                    </lightning-input-rich-text>
                </div>

                <div class="slds-col slds-size_full slds-m-bottom--medium">
                    <lightning-input type="file" accept=".jpeg, .jpg, .png, .pdf " label="Attachments"
                        onchange={openfileUpload} disabled={filePresent} multiple varient="hidden-label">
                    </lightning-input>
                </div>

                <div class="slds-col slds-size_full slds-m-bottom--large">
                    <template if:true={filePresent}>
                        {filesName}
                        <!-- <img if:false={isPdf} src={imageURl} class="attachment-box slds-m-bottom_large">
                        <iframe if:true={isPdf} src={imageURl} width="100%" height="500px">
                        </iframe> -->
                    </template>
                    <lightning-button if:true={filePresent} variant="destructive" label="Delete" title="Delete"
                        onclick={handleDelete} class="slds-m-left_x-small"></lightning-button>
                </div>


                <div class="slds-col slds-size_full">
                    <lightning-button label="Send" varient="brand" title="Send" onclick={sendEmail}></lightning-button>
                    <lightning-button if:true={showViewButton} label="View All Email" varient="brand"
                        title="View All Email" onclick={viewEmailList}></lightning-button>

                </div>
            </div>
        </div>
    </div>

    <template if:true={openModel}>
        <!-- Modal/Popup Box LWC starts here -->
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="ok_ban-container slds-m-around_xx-large">
                <div class="ok_ban-model ok_ban-model--md">
                    <div class="form--header">
                        <div class="form--header_heading">
                            <h2>View Email </h2>
                        </div>
                        <div class="form--header_right model_close-btn">
                            <button class="slds-button slds-button_icon" title="Close" onclick={closeEmailList}>
                                <lightning-icon icon-name="utility:close" alternative-text="close" size="small">
                                </lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                        </div>
                    </div>
                    <div class="form--body">
                        <div class="slds-col slds-size--12-of-12 slds-medium-size--12-of-12 slds-large-size--12-of-12 slds-m-bottom_large">
                            <div class="table-box">
                                <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-m-top_medium">
                                    <thead>
                                        <tr class="slds-line-height_reset">
                                            <!-- <th class="" scope="col">
                                    <div class="slds-truncate" title="#">#</div>
                                </th> -->
                                            <th class="" scope="col">
                                                <div class="slds-truncate" title="First Name">First Name</div>
                                            </th>
                                            <th class="" scope="col">
                                                <div class="slds-truncate" title="Last Name">Last Name</div>
                                            </th>
                                            <!-- <th class="" scope="col">
                                            <div class="slds-truncate" title="Date of Birth">Date of Birth</div>
                                        </th> -->
                                            <th class="" scope="col">
                                                <div class="slds-truncate" title="Email">Email</div>
                                            </th>
                                            <!-- <th class="" scope="col">
                                            <div class="slds-truncate" title="Phone">Phone</div>
                                        </th> -->
                                            <!-- <th class="" scope="col">
                                            <div class="slds-truncate" title="Status">Status</div>
                                        </th>
                                        <th class="" scope="col">
                                            <div class="slds-truncate" title="Check In">Check In</div>
                                        </th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template for:each={currentPageData} for:item="attendee" for:index="index">
                                            <tr key={attendee.Id} class="slds-hint-parent">
                    
                                                <td data-label="First Name">
                                                    <div class="slds-truncate" title={attendee.contactInformation.firstName}>
                                                        {attendee.contactInformation.firstName}</div>
                                                </td>
                                                <td data-label="Last Name">
                                                    <div class="slds-truncate" title={attendee.contactInformation.lastName}>
                                                        {attendee.contactInformation.lastName}</div>
                                                </td>
                                                <!-- <td data-label="Date of Birth">
                                                <div class="slds-truncate" title={attendee.contactInformation.dob>
                                                    {attendee.contactInformation.dob}</div>
                                            </td> -->
                                                <td data-label="Email">
                                                    <div class="slds-truncate" title={attendee.contactInformation.email}>
                                                        {attendee.contactInformation.email}</div>
                                                </td>
                                                <!-- <td data-label="Phone No.">
                                                <div class="slds-truncate" title={attendee.contactInformation.phoneNo}>
                                                    {attendee.contactInformation.phoneNo}</div>
                                            </td>
                                            <td data-label="Status">
                                                <div class="slds-truncate" title={attendee.eventRegistrationStatus}>
                                                    {attendee.eventRegistrationStatus}
                                                </div>
                                            </td> -->
                                                <!-- <td data-label="Check In">
                    
                                                <button disabled={attendee.contactInformation.showCheckin}
                                                    class="slds-button slds-button_neutral"
                                                    data-name={attendee.contactInformation.firstName}
                                                    data-regid={attendee.eventRegistrationId} onclick={handleCheckIn}>
                                                    Check In
                                                </button>
                                            </td> -->
                                            </tr>
                                        </template>
                                        <template if:true={noAttendeesFound}>
                                            No records found!!
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <lightning-layout-item size="12" class="slds-m-top_small" if:true={isAttendeeAvailable}>
                                <div class="slds-align_absolute-center slds-p-top_large">
                                    <ul class="slds-button-group-row">
                                        <template if:true={hasPrev}>
                                            <li class="slds-button-group-item">
                                                <button class="slds-button slds-button_neutral" onclick={onPrev}>
                                                    Prev
                                                </button>
                                            </li>
                                        </template>
                                        <template for:each={pagesList} for:item="pageNumber">
                                            <li class="slds-button-group-item" key={pageNumber}>
                                                <button data-id={pageNumber} class="slds-button slds-button_neutral" onclick={onPageClick}>
                                                    {pageNumber}
                                                </button>
                                            </li>
                                        </template>
                                        <template if:true={hasNext}>
                                            <li class="slds-button-group-item">
                                                <button class="slds-button slds-button_neutral" onclick={onNext}>
                                                    Next
                                                </button>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </lightning-layout-item>
                    
                        </div>

                    </div>
                   
                </div>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
   

</template>